{
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"printWidth": 120,
	"proseWrap": "always",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": false
}
