@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Roboto;
		font-display: swap;
		src: url("/fonts/Roboto[ital,wdth,wght].ttf");
	}

	a {
		@apply text-primary hover:text-main;
	}

	h1 {
		@apply text-2xl sm:text-3xl md:text-4xl text-gray-900 font-light;
	}
}

@layer components {
	.prose :is(p, ul, ol) {
		@apply my-4;
	}

	.prose :is(p, ul, ol):last-child {
		@apply mb-0;
	}

	.prose :is(ul, ol) {
		@apply pl-8;
	}

	.prose ul {
		@apply list-disc;
	}

	.prose ol {
		@apply list-decimal;
	}

	.prose h2 {
		@apply text-xl md:text-2xl font-bold mt-12 mb-4;
	}

	.prose h3 {
		@apply text-lg md:text-xl font-bold mt-12 mb-4;
	}

	.prose pre code {
		@apply block relative z-10 bg-gray-900 text-white p-4 text-sm overflow-x-auto xl:overflow-x-hidden xl:hover:w-[180%];
	}
}
